
@import 'partials/reset';

@mixin border-radius( $radius ) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius; }

$white75: rgba( 255, 255, 255, 0.75 );
$white25: rgba( 255, 255, 255, 0.25 );
$black30: rgba( 0, 0, 0, 0.3 ); 
$black10: rgba( 0, 0, 0, 0.1 ); 

body { font: 100% Helvetica, Arial, sans-serif; background-color: #EFEFEF; }
h1 { font-size: 56px; }
p { color: #444; }
img.responsive { width: 100%; height: auto; }

header { background: url(../img/blurred-trees.jpg); background-size: cover; }

.navbar { border-radius: 0; border: none; }
.navbar-default { background-color: $white25; }
.navbar-default .navbar-nav > li > a { color: #FFF; font-size: 10px; background: $black30; @include border-radius( 5px ); text-transform: uppercase; }
.nav > li { display: inline-block; }
.nav > li > a { margin-left: 5px; margin-right: 5px; padding: 10px; }
.navbar-default .navbar-nav .current_page_item > a, .navbar-default .navbar-nav .current_page_item > a:focus, .navbar-default .navbar-nav .current_page_item > a:hover { background: $white75; color: #000; }
.navbar-default .navbar-nav li > a:focus, .navbar-default .navbar-nav li > a:hover { color: #FFF; background: $black10; }

.header-title { 
	div { height: 2px; background: $white75; }
	p { font-size: 56px; color: $white75; margin: 10px 0; text-transform: uppercase; font-weight: 700; line-height: 64px; } 
}

.social-links { 
	li { float: left; display: block; margin-right: 5px; background: $black30; @include border-radius( 5px );  } 
	a { display: block; color: #FFF; padding: 5px 10px; font-size: 10px; text-align: center; text-transform: uppercase; text-decoration: none; }

	margin: 10px 0 20px; 
}

.subtitle { 
	h2 { display: inline; font-size: 38px; font-weight: 700; color: #000; line-height: 52px; border-bottom: 3px solid #000; }

	margin-bottom: 30px; text-align: center; text-transform: uppercase; 
}
.sub-blurb { 
	strong { font-weight: 700; }

	text-align: center; 
}

.project, .service, .news { 
	h3 { font-size: 21px; font-weight: 700; color: #000; margin: 15px 0; text-align: center; text-transform: uppercase; }
	div { height: 2px; background: #000; margin-bottom: 10px; }
	p { font-size: 12px; text-align: center; margin-bottom: 10px; }
	a.read-more { display: block; width: 110px; color: #000; font-size: 12px; font-weight: 700; border: 2px solid #000; margin: 0 auto; padding: 5px; text-transform: uppercase; text-align: center; }
	a.read-more:hover, a.read-more:focus { text-decoration: none; }

	display: block; margin-bottom: 15px;
}

.service, .news {
	.underline { padding: 0 0 15px; border-bottom: 2px solid #000; }
}

.news {
	span { display: block; width: 50px; margin: 15px auto 0; padding: 5px; text-align: center; text-transform: uppercase; font-weight: 700; border: 2px solid #000; }
	.date { font-size: 30px; line-height: 26px; margin: 0; }
	.year { margin: 0; }
}

.clients { 
	ul { 
		li { 
			img { display: block; width: 60px; height: 60px; }

		float: left; margin-right: 15px; 
		}
		li:last-of-type { margin-right: 0; }

		display: inline-block; 
	}
	background: url(../img/blurred-trees.jpg); background-size: cover; text-align: center;
}

.about {
	h2 { font-size: 38px; font-weight: 700; color: #000; margin: 15px 0; line-height: 52px; text-transform: uppercase; }
	strong { font-size: 12px; font-weight: 700; }
	p { font-size: 12px; margin-bottom: 10px; }
	.skill-bar { 
		p { position: absolute; line-height: 30px; padding: 0 10px; color: #FFF; } 
		p.right { right: 0; text-align: right; }
		div { position: absolute; height: 30px; background: #000; }

		position: relative; width: 100%; height: 30px; background: #CCC; margin-bottom: 5px;
	}
}

.twitter {
	.twitterwidget-title { display: none; }
	ul li { display: inline-block; position: relative; color: #FFF; margin: 15px 0; padding: 30px; background: rgba( 255, 255, 255, 0.25 ); 

		span.entry-content a { color: #FFF; font-weight: 700; text-decoration: none; }
		span.entry-content a:hover, span.entry-content a:focus { text-decoration: underline; }
	}
	ul li:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba( 255, 255, 255, 0 ); border-top-color: rgba( 255, 255, 255, 0.25 ); border-width: 15px; margin-left: -15px; }
	ul li span.entry-meta { 
		.from-meta { display: none; }
		.time-meta a { color: #FFF; font-size: 9px; text-decoration: none; cursor: default; }

		display: block;
	}
	img { width: 50px; height: 50px; margin-bottom: 15px; }

	background: url(../img/blurred-trees.jpg); background-size: cover; text-align: center;
}

.quote {
	p { display: inline-block; position: relative; color: #FFF; margin: 15px 0; padding: 30px; background: rgba( 255, 255, 255, 0.25 ); line-height: 50px; }
	p:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba( 255, 255, 255, 0 ); border-top-color: rgba( 255, 255, 255, 0.25 ); border-width: 15px; margin-left: -15px; }
	img { width: 50px; height: 50px; margin-bottom: 15px; }
	span { display: inline-block; margin: 15px 0; padding: 5px 15px; color: #000; background: rgba( 255, 255, 255, 0.75); text-transform: uppercase; }
	strong { font-weight: 700; }

	background: url(../img/blurred-trees.jpg); background-size: cover; text-align: center;
}

.see-more {
	a { display: inline-block; color: #000; font-size: 12px; font-weight: 700; border: 2px solid #000; margin: 0 auto; padding: 5px 15px; text-transform: uppercase; text-align: center; }
	a:hover, a:focus { text-decoration: none; }

	text-align: center;
}

.pagination {
	span, a { display: inline-block; color: #000; font-weight: 700; padding: 5px 10px; border: 2px solid #000; text-transform: uppercase; text-decoration: none; }
	span.current { background: #000; color: #FFF; }

	text-align: center; width: 100%;
}

.single-project, .single-news {
	h3 { font-size: 15px; font-weight: 700; margin-bottom: 5px; }
	h5 { font-size: 10px; font-weight: 700; margin-bottom: 5px; }
	h6 { font-weight: 700; color: #000; margin: 15px 0; padding-bottom: 5px; }
	p { 
		strong { font-size: 12px; font-weight: 700; }

		font-size: 12px; margin-bottom: 5px; padding-bottom: 5px; 
	}
	blockquote { font-size: 12px; margin-bottom: 5px; padding-bottom: 5px; }
	img { width: 100%; height: auto; }


	div.border-bottom, p.border-bottom { border-bottom: 1px solid #444; }
	a { display: inline-block; font-size: 10px; color: #FFF; margin: 0 4px 4px 0; padding: 2px 6px; background: rgba( 0, 0, 0, 0.3 ); border-radius: 5px; }
	p a:last-of-type { margin: 0; }
	p.align-right { text-align: right; }

	.post-widget { 
		p { padding: 0; margin: 0; }
		.post-date { font-size: 10px; }

		padding-bottom: 5px; margin-bottom: 5px; 
	}
}


.carousel-control.left { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,1e5799+100&1+0,0+100 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */ background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(left,  rgba(239,239,239,1) 0%, rgba(30,87,153,0) 100%); /* FF3.6-15 */ background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(30,87,153,0))); /* Chrome4-9,Safari4-5 */ background: -webkit-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */ background: -o-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(30,87,153,0) 100%); /* Opera 11.10-11.50 */ background: -ms-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(30,87,153,0) 100%); /* IE10 preview */ background: linear-gradient(to right,  rgba(239,239,239,1) 0%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#001e5799',GradientType=1 ); /* IE6-8 */ }

.carousel-control.right { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,efefef+100&0+0,1+100 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */ background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(239,239,239,1) 100%); /* FF3.6-15 */ background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(100%,rgba(239,239,239,1))); /* Chrome4-9,Safari4-5 */ background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(239,239,239,1) 100%); /* Chrome10-25,Safari5.1-6 */ background: -o-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10-11.50 */ background: -ms-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(239,239,239,1) 100%); /* IE10 preview */ background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(239,239,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#efefef',GradientType=1 ); /* IE6-8 */ }

.carousel-control span.chevron { position: absolute; top: 50%; display: block; width: 30px; height: 30px; border-radius: 50%; }
.carousel-control span.chevron.chevron-left { left: 10%; background: url('../img/icon-left.png') no-repeat left center; }
.carousel-control span.chevron.chevron-right { right: 10%; background: url('../img/icon-right.png') no-repeat left center; }
.carousel-control span.chevron.chevron-left:hover, .carousel-control span.chevron.chevron-right:hover { background-position: right center; }

.carousel-control, .carousel-control:focus, .carousel-control:hover { opacity: 1; }
.carousel-caption a { display: inline-block; font-size: 10px; color: #FFF; background: rgba( 0, 0, 0, 0.3 ); padding: 5px 10px; line-height: 20px; border-radius: 5px; text-align: center; text-transform: uppercase; text-decoration: none; }

.carousel-indicators li { border: 1px solid rgba( 0, 0, 0, 0.3 ); }
.carousel-indicators .active { background: rgba( 0, 0, 0, 0.3 ); }

footer {
	.see-more {
		a { color: #FFF; border: 2px solid #FFF; }
	}
	.subtitle { 
		h2 { color: #FFF; border-bottom: 3px solid #FFF; }
	}
	p { color: #FFF; font-weight: 700; margin-bottom: 15px; }
	.copyright { color: #FFF; font-size: 9px; font-weight: 400; }
	.social-links { display: inline-block; }

	background: url(../img/blurred-trees.jpg); background-size: cover; text-align: center;
}

form.wpcf7-form { 
	p { 
		input[type="text"], input[type="email"], textarea { width: 100%; padding: 10px; color: #666; border: 0; }
		input[type="submit"] { display: inline-block; position: relative; color: #000; margin: 15px 0 0; padding: 5px 15px; background: rgba( 255, 255, 255, 0.75); text-transform: uppercase; border: 0; }

		margin-bottom: 0; padding: 15px; 
	}
	div.grey-bg { position: relative; background: rgba( 255, 255, 255, 0.25 ); }
	div.grey-bg:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba( 255, 255, 255, 0 ); border-top-color: rgba( 255, 255, 255, 0.25 ); border-width: 15px; margin-left: -15px; }
	p.no-bg { background: none; }
	p.smallprint { font-size: 9px; padding: 0 15px 15px; font-weight: normal; text-align: left; }
	img.ajax-loader { display: block; margin: 15px auto; }
}

.spacer { min-height: 30px; }

@media (min-width: 768px) {
	.navbar-nav > li > a { margin-top: 10px; margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px; }
} 
